.newWrapperTopChart {
  /* background-color: rgb(253 253 253 / 88%); */
  
  background-color: rgb(159 136 100 / 74%);
  border: 2px solid #ffc38436;
  padding: 20px 10px;
  border-radius: 40px;

  min-width: 97%;
  margin: 15px auto;
  filter: drop-shadow(2px 4px 6px black);
  color: white;

  @media (max-width: 1000px) {
    display: none;
  }
}

.helpedDiv {
  height: 303px;
  background: white;

  position: absolute;
  top: 208px;
  left: 0;
  z-index: 0;
  filter: blur(258px);

  @media (min-width: 769px) {
    top: -58px;
  }
}

.wrapperTopChart {
  
}