.btnUpload {
  height: 36px;
  width: 38px;
  border: none;
  border-radius: 35px;
  background-image: var(--colors-line-hub);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}